* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.height {
    width: 7%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    gap: 8rem;
    margin-top: 1rem;
    padding-left: 1rem;
    align-items: center;
    margin: 20px 0px;

}

header>section {
    border: 1px solid rgb(205, 194, 194);
    border-radius: 25px;
    width: 650px;
    padding: 4px 12px;

}

header>section>input {
    width: 500px;
    border: none;
    margin: 0px 7px;
    margin-bottom: 7px;

}

.bi-instagram {
    margin-right: 20px;
}

#icon-section {
    display: flex;
    gap: 30px;
}

.container>div>div>img {
    width: 2rem;
    height: 2rem;
    color: rgb(209, 201, 201);


}

.flex-2 {
    display: flex;
    gap: 20px;
}

.container>div>div> {
    display: flex;
}

.container>div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 2rem;
}


#image-section {
    display: flex;
    background-color: aliceblue;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#image-section>img {
    border-radius: 20px;
    width: 1150px;
    margin-left: 22px;
}

.name {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.name-color {
    color: rgb(163, 155, 155);
    font-size: 26px;
}

.name-2 {
    font-size: 28px;
}

#mid-img {
    display: flex;
    gap: 8px;
    margin: 0px 20px;
    overflow-y: auto;
    background-color: aliceblue;
}

#mid-img>img {
    border-radius: 20px;
    background-color: aliceblue;
}

.container-img {
    margin-top: 10px;
}

.seaction>div>img {
    border-radius: 20px;
    width: 600px;
}

#fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

#fixed>div {
    background-color: rgb(254, 254, 254);
    border-radius: 25px;
    padding: 5px;
    box-shadow: 2px 4px 2px rgb(152, 149, 149);
    margin-bottom: 9px;
}

.text-card>p {
    text-align: center;
    margin-top: 40px;
    font-size: 38px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.name-3 {
    font-size: 30px;
    color: rgb(163, 155, 155);
    padding-bottom: 55px;
    text-align: center;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

#card {
    display: flex;
    gap: 20px;

}

#card>div>img {
    border-radius: 25px;
    height: 350px;
    margin: 20px 0px;
}

.img-1 {
    margin-left: 30px;
}

#card-name {
    display: flex;
    gap: 29%;
    margin-left: 9%;
    margin-top: 2rem;
    text-align: center;
    font-size: 18px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.txt-1 {
    margin-left: 9%
}

#-player-card {
    display: flex;
}

.txt-2 {
    margin-left: 30px;
}

#-player-card>div>img {
    height: 330px;
    margin: 28px 20px;
    border-radius: 25px;
    width: 250px;

}

.player-card1 {
    border: 1px solid black;
    width: 270px;
    height: 330px;
    border-radius: 25px;
    margin: 28px 10;
}

.player-card1>h1 {
    color: brown;
    margin-top: 50%;
    text-align: center;
    font-size: 45px;
}

.player-card1>p {
    margin-left: 50px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;

}

#card-name-1 {
    display: flex;
    gap: 16%;
    text-align: center;
    font-size: 18px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

#card-name>p {
    display: flex;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.txt-3 {
    margin-left: 8rem;
}

#in-4 {
    display: flex;
    height: 420px;
    justify-content: center;
}

#in-4>img {
    display: flex;
    width: 80rem;
    gap: 5px;
    justify-content: center;
    margin-left: 15px;
    border-radius: 20px;
}

.name-4 {
    font-size: 30px;
    padding: 0%;
    color: rgb(163, 155, 155);
    text-align: center;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

#img-4-flex {
    display: flex;
    gap: 20px;
    margin-left: 7px;
}

.gradient-card {
    position: relative;
}


.gradient-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.534) 8%, rgba(237, 221, 83, 0) 50%, rgba(237, 221, 83, 0) 100%);
    ;
}

.ring {
    margin-top: 5%;
    position: relative;
}

.ring>img {
    width: 99%;
    margin-left: 4px;

}

.ring>p {
    position: absolute;
    color: white;
    top: 10%;
    left: 25px;
    font-size: 20px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

b {
    font-size: 33px;
}

#con-img {
    display: flex;
    gap: 20px;
    border-radius: 20px;

}

#con-img>div>img {
    border: 10px solid white;
    border-radius: 20px;
    height: 350px;
    position: absolute;
    top: 65%;
    margin-left: 20px;
}

.thread>img {

    border: 10px solid white;
    border-radius: 20px;
    height: 350px;
    position: absolute;
    top: 65%;
    left: 48%;
    margin-left: 20px;
}

#nothing {
    height: 52%;
}

.video-1 {
    margin-bottom: 5%;
    display: flex;
    height: 80%;
    width: 20%;
}

.l {
    position: absolute;
    left: 57%;
    width: 20%;

}


.n {
    position: absolute;
    left: 47%;
    width: 20%;

}

.m {
    position: absolute;
    left: 23%;
    width: 20%;

}

.o {
    position: absolute;
    left: 34%;
    width: 20%;

}

#text {
    text-align: center;
    font-size: 23px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

h3 {
    font-size: 35px;
}

#text-1 {
    font-size: 25px;
    display: flex;
    margin-left: 8%;
    margin-top: 30px;
}

.horizontal-line {
    margin-top: 10%;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    position: relative;
}

#pie {
    border-right: 1px solid grey;
    margin-right: 20%;

}

.craft {
    color: rgb(119, 122, 124);
    font-size: 1.5rem;
}

.box {
    font-size: 4rem;
    display: flex;
}

.box>p {
    color: brown;
}

#logo-2 {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

#space {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 65%;
    font-size: 1.2rem;
}

#centre {
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.video {
    margin-top: 3%;
    width: 100%;
}

.craft-1 {
    color: rgb(119, 122, 124);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2%;
}

.flex0 {
    display: flex;
    margin: 2%;
}

#one-line {
    display: flex;
    gap: 17%;
    margin-left: 9%;
    margin-top: 2%;
    font-size: 1rem;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.flex3 {
    display: flex;
    gap: 15%;
    height: 18%;
    margin-left: 9%;
    margin-top: 6%;
}

#text-6 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
}

.flex02 {
    display: flex;
    gap: 27px;
    border-radius: 7px;
    height: 75%;
    margin-left: 2%;
    margin-top: 2%;
}

.flex02>img {
    width: 31%;
}

.flex4 {
    display: flex;
    gap: 23%;
    font-size: 1.4rem;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    margin-left: 9%;
    margin-top: 2%;
    color: rgb(163, 161, 161);
}

#gift {
    display: flex;
    gap: 20px;
}

.gift-box {
    background-color: rgba(253, 218, 228, 0.756);
    height: 87%;
    width: 50%;
    margin-top: 3%;
    margin-left: 2%;
    border-radius: 5%;
    position: relative;
}

.gift-box>h2 {
    text-align: center;
    padding-top: 25%;
    font-size: 3rem;
    color: brown;
}

.gift-box>img {
    padding-top: 17%;
    margin-left: 3%;
}

.gift-box>div {
    background-color: rgb(138, 7, 7);
    height: 100%;
    width: 6%;
    position: absolute;
    top: 0%;
    left: 10%;
}

.brown-rotate {
    background-color: rgb(138, 7, 7);
    height: 100%;
    width: 6%;
    position: absolute;
    top: 48%;
    border: 2px solid black;
    rotate: 90deg;
}

.gift-1>img {
    height: 30rem;
    width: 40rem;
}

.margin {
    margin-left: 3%;
    margin-top: 5%;
}

.p-flex {
    display: flex;
    gap: 27%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.digital-gold {
    width: 30%;
    height: 74%;
}

.left-img {
    margin-left: 1%;
}

.margin-left {
    margin-left: 5%;
}


footer {
    background-color: rgb(41, 4, 4);
    height: 100%;
    margin: 2%;
    color: white;
}

footer>div>p {
    font-size: 20px;
}

footer>div {
    margin: 2%;
    padding-top: 6%;
    width: 20%;
    display: flex;
}

.flex01 {
    margin-left: 4%;
    display: flex;
    gap: 30%;
}